.app_container {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app_input {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            border: 0.1px solid rgb(197, 197, 197);
            height: 40px;
            padding: 16px;
            font-size: 14px;
            width: 250px;
        }
    }

    
}
.app_card__container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .app_card {
        width: 250px;
        height: 350px;
        margin: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.47);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.47);

        .app_card__top {
            h1 {
                font-size: 20px;
                margin-top: 10px;
                margin-left: 15px;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .app_btns {
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;

            button {
                height: 35px;
                width: 80px;
                font-weight: bold;
                font-size: 14px;
                border-radius: 4px;
                border: none;
                outline: none;
                cursor: pointer;
                color: white;
                margin-bottom: 5px;
            }
        }
    }

    .app_search {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        img {
            width: 300px;
        }

        h1 {
            font-size: 20px;
            margin-top: 10px;
            color: rgb(126, 126, 126);
        }
    }
}