.app_container {
    border: 2px solid red;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app_input {
        border: 2px solid blue;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            border: 0.1px solid rgb(197, 197, 197);
            height: 40px;
            padding: 16px;
            font-size: 14px;
            width: 250px;
        }
    }

    .app_card__container{
        border: 2px solid red;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .app_card{
            width: 250px;
            height: 350px;
            border: 2px solid red;
            margin: 20px 40px ;
            display: flex;
            flex-direction: column;
            
            h1{
                font-size: 20px;
                margin-top: 10px;
            }

            img{
                border: 2px solid red;
                width: 100%;
                object-fit: cover;
            }

            .app_btns{
                display: flex;
                justify-content: space-evenly;
                margin-top: 10px;
            }
        }
    }
}